.row
    .col-md-8
        if success && success.length > 0
            div.alert.alert-success
                ul
                    each item in success
                        li #{item}

        if errors && errors.length > 0
            div.alert.alert-danger
                ul
                    each item in errors
                        if item.hasOwnProperty('msg')
                            li #{item.msg}
                        else
                            li #{item}