doctype html
html(lang='en')
  head
    title Welcome
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    .navbar.navbar-default(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#') NodeAuth
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li(class=(title == 'Members' ? 'active' : ''))
              a(href='/') Members
            if !user
              li(class=(title == 'Register' ? 'active' : ''))
                a(href='/users/register') Register
              li(class=(title == 'Login' ? 'active' : ''))
                a(href='/users/login') Login
          if user
            ul.nav.navbar-nav.navbar-right
             li
                a(href='/users/logout') Logout
    .container
      include flash
      block content
     
    script(src='/javascripts/jquery-3.2.1.min.js')
    script(src='/javascripts/bootstrap.min.js')