extends layout

block content
 h2.page-header #{title}
 p Please register using the form below
 .row
     .col-md-8
        form(method='post', action='/users/register', enctype='multipart/form-data')
          .form-group
           label Name
           input.form-control(name='name', type='text', value='#{name}')
          .form-group
           label Email
           input.form-control(name='email', type='email', value='#{email}')
          .form-group
           label Username
           input.form-control(name='username', type='text', value='#{username}')
          .form-group
           label Password
           input.form-control(name='password', type='password', value='#{password}')
          .form-group
           label Confirm Password
           input.form-control(name='password2', type='password', value='#{password2}')
          .form-group
           label Profile Image
           input.form-control(name='profileimage', type='file')
          input.btn.btn-primary(type='submit', name='submit', value='Register')